
/* Besluta om font-family, storleker och vars texten ska ligga. */
body {
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:500;
  text-align: center;
  letter-spacing: 0.3em;
  min-height: 100%; 
}

/* header-image och text för alla gemensama html sidor. */
.header-image{
  background-image: url(head-img.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  position: relative;
  max-width: 100%;
  height: 300px;
  margin-top: 0px;
}

.header-text {
text-align:center;
position:relative;
left: 50%;
transform: translate(-50%, -50%);
color: black;
width: 600px;
}

/*Skapa en horisontell navigation som  är på header image.*/
#navigation {
  margin: 5px;
	width: 100%;
  height: 170px;
	font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}
#navigation li {
	display: inline;

}
#navigation a{
	text-decoration:none;
  padding: 30px;
  margin: 40px;
	color:#CAEBFF;
}
a:link {
  color: black;
  font-weight: bold;
}
a:visited,:active {
  color: black;
}
a:hover, a.on {
  color: #CAEBFF;
}

/* Centrera texten och göra den bredare.*/
#content{
width: 90%;
text-align: center;
display:contents;
}

aside {
float:right;
 width: 450px;
 margin-right: 60px;
 top: 400px;
}

/* Gemensamaegenskaper på H1,H2 då dem ska se samman hängade ut.*/
h1,h2{
  color: black;
  font-family: serif;
  text-align: center;
  text-decoration: underline;
}

/* Ändrar färg och position. */
.text {
 list-style:disc inside;
 width: fit-content;
 margin: 10px;
 text-align: start;
 background-color:#EECB96;
 height: 500px;

 
}
/* skapade gemnsam layout på services html med rutor med bild samt text. */
.layout {
  float: left;
  width: 370px;
  margin: 40px;
  height: 298px;
 
}
figure {
  width: 350px;
  height: 300px;
  background-color: #EECB96;
  padding: 10px;
}
figure img {
  width: 300px;
  height: 250px;
}
.rubrik {
  font-size: larger;
  text-decoration: underline;
}
/* CSS egenskaper för att möjligöra en automatisk slider. */
.slider{
  display: flex;
  height: 450px;
  overflow: hidden;
  position: relative;
  padding: 30px;
  margin: 70px;
}
.slider .slide img {
  position: absolute;
  height: 500px;
  width: 500px;
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.5) rotate(15deg);
  animation: slowFade 32s infinite;
  
}
.slider .slide:nth-child(3) img {
  
  animation-delay: 8s;
}
.slider .slide:nth-child(2) img {
  animation-delay: 16s;
}
.slider .slide:nth-child(1) img {
  animation-delay: 24s;
}
@keyframes slowFade {
  25% {
  opacity: 1;
  transform: scale(1) rotate(0);
  }
  40% {
  opacity: 0;
  }
}
/* Gemensama footer på "home" sidan ör den korrekt. På "services" sidan är den inte i korrekt, har reserchat men kan inte lösa det. */
footer {
  width: 100%;
  text-align: center;
  table-layout: auto;
  max-width: 100%;}
 table {
    width: 100%;}



  
 

 
